<%= form_for @entry, html: {multipart: true} do |f| %>
  <p><div class="field">
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </div></p>
  <p><div class="field">
    <%= f.label :post %><br/>
    <%= f.text_area :post %>
  </div></p>
  <p><div class="field">
    <%= f.label :date_posted %><br/>
    <%= f.date_field :date_posted %>
  </div></p>
  <p><div class="field">
    <%= f.label :entry_image, "Upload Image" %><br/>
    <%= f.file_field :entry_image %>
  </div></p>
  <p><div class="field">
    <%= f.label :entry_image_url, "Image URL" %><br/>
    <%= f.text_field :entry_image_url %>
  </div></p>
  <p><div class="field">
    <%= f.label :remove_entry_image, "Remove Image" %><br/>
    <%= f.check_box :remove_entry_image %>
  </div></p>
  <p><div class="field">
    <%= image_tag @entry.entry_image.thumb('100x100').url if @entry.entry_image_uid %><br/>
  </div></p>
  <%= f.submit %>
  <%= f.hidden_field :retained_entry_image %>
<% end %>
