<h1>User Dashboard</h1>
  <% @entry.each do |entry| %>
    <p>
      <%= entry.title %><br/>
      <%= entry.date_posted %><br/>
      <%= entry.post %><br/>
      <%= link_to "Edit Entry", edit_entry_path(entry) %><br/>
      <%= link_to "Delete Entry", entry, data: { confirm: "Are you sure you want to delete the entry?" }, method: :delete %>
    </p>
  <% end %>

<p><%= paginate @entry %></p>
<%= link_to "New Blog Entry", new_entry_path %><br/>
<%= link_to "Log Out", logout_path %>
