<h1>Blog</h1>

<% @entry.each do |entry| %>
  <%= entry.title %><br/
  <%= entry.date_posted %><br/>
  <%= entry.post %><br/>
  <%= link_to "Read More", entry %>
<% end %>

<%= link_to "New User", new_user_url %><br/>
<%= link_to "Log In", login_url %>
