<h1>John's Blog</h1>

<% @entry.each do |entry| %>
  <p>
    <%= image_tag entry.entry_image.thumb('50x50%').url if entry.entry_image_uid %><br/>
    <%= entry.title %><br/>
    <%= entry.date_posted %><br/>
    <%= entry.user.email %><br/>
    <%= entry.post %><br/>
    <%= link_to "Read More", entry %><br/>
  </p>
<% end %>

<p><%= paginate @entry %></p>
<%= link_to "New User", new_user_url %><br/>
<%= link_to "Log In", login_url %>
